* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gilroy';
}

html, body {
    height: 100%;
    width: 100%;
}

#page1 {
    height: 100vh;
    width: 100%;
    background-color: #e3e3c4;
}

#page2{
    height: 100vh;
    width: 100%;
    background-color: #556035;
    padding: 5vw;
}
#page3 {
    height: 100vh;
    width: 100%;
    background-color: #e3e3c4;
}
#page2 h1 {
    color: #434b34;
    font-size: 3.5vw;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 400;
    line-height: 4vw;
}

#page2 h1 span{
    font-family: Georgia, 'Times New Roman', Times, serif ;
}