* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gilroy';
}

html, body {
    height: 100%;
    width: 100%;
}

#page1 {
    height: 100vh;
    width: 100%;
    /* background-color: rgb(255, 177, 177); */
}
#page2 {
    height: 100vh;
    width: 100%;
    /* background-color: rgb(165, 255, 195); */
}
#page3 {
    height: 100vh;
    width: 100%;
    /* background-color: rgb(255, 249, 200); */
}
#page2 #image-div {
    height: 100%;
    width: 35%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    /* background-color: red; */
    overflow: hidden;
}

#image-div img{
    height: 90%;
    width: 100%;
    object-fit: cover;
    scale: 1.5;
}